.swapColor {
    background-color: #dde8e1;
    color: rgba(0, 0, 0, 0.658);
}

.swapColorII {
    background-color: #d4dfd7;
    color: rgba(0, 0, 0, 0.658);
}

Link, a {
    text-decoration: none;
}

#trialfix {
    margin-bottom: '1.45rem';

}

.comments {
    padding: 17%;
    //margin: 15% 15%;
}